.left,
.right {
  padding: 20px;
  width: 50%;
  height: 94vh;
  text-align: center;
}

.content {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

.container {
    display: flex;
}

.table {
  margin-top: 50px;
  text-align: center;
  overflow-y: scroll;
}

.header{
  color:#FFFFFF;
  background-color: #7B42FA;
}

.table>:not(:first-child){
  border-top: 1px solid currentColor !important;

}

.tb-padding{
  padding: .5rem .5rem;
}