

.left,
.right {
  padding: 20px;
  width: 50%;
  border: solid;
}

.content {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}
.container {
    display: flex;
    height: 100%;
  }

 

  .button{
    flex-direction: column;
  }