.header{
    color:#FFFFFF;
    background-color: #7B42FA;
}
.TableInhoud{
    background-color: #d3d3d3;
    color: #000000;
}

.table {
    margin-top: 50px;
    text-align: center;
    overflow-y: scroll;
}
.ButtonEdit{
    color: #FFFFFF !important;
}
.ButtonEdit:hover{
    color: #7B42FA !important;
    background-color: transparent !important;
}
.ButtonDelete{
    color: #FFFFFF !important;
}
.ButtonDelete:hover{
    color: #fa4242 !important;
    background-color: transparent !important;
}