.header{
    color:#FFFFFF;
    background-color: #7B42FA;
}
.TableInhoud{
    background-color: #4F4F61;
    color: #FFFFFF;
}

.table {
    margin-top: 50px;
    text-align: center;
    overflow-y: scroll;
}
.Button{
    color: #FFFFFF !important;
}
.Button:hover{
    color: #7B42FA !important;
    background-color: transparent !important;
}